/* Document root */

body {
    margin: 0;
    font-family: sans-serif;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    padding: 1%;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

body > * {
    margin-bottom: 1%;
}

/* Display */

#display-container {
    text-align: right;
    height: 21vmin;
    border: 1px solid black;
    background-color: darkgrey;
    display: flex;
    flex-direction: column;
}

#main-display {
    font-family: monospace;
    height: max-content;
    font-size: 12vmin;
    flex-shrink: 1;
    flex-grow: -1;
    overflow: hidden;
    padding: 0;
    margin: 0.5%;
}

#status-bar {
    padding: 1%;
    height: max-content;
    font-size: 3vmin;
    background-color: rgb(169, 169, 210);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#status-bar > .fixed {
    color: black;
}

#status-bar > .on {
    color: #0f0;
}

#status-bar > .off {
    color: white;
}

#status-bar > .left {
    justify-self: left;
}

#status-bar > .right {
    justify-self: right;
}

/* Buttons */

#button-container {
    border: 1px solid black;
    background-color: darkgrey;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    flex-grow: 2;
}

.calc-button {
    font-size: 3rem;
    flex-shrink: 2;
    flex-grow: 1;
    border: 1px solid grey;
    background-image: linear-gradient(white, rgb(90, 90, 130));
}

.calc-button:not(.top-row) {
    margin: 2%;
}

.calc-button.digit {
    background-image: linear-gradient(white, rgb(90, 120, 150));
}

.top-row.more  {
    background-image: linear-gradient(white, rgb(150, 125, 70));
}

.top-row.memory {
    background-image: linear-gradient(white, rgb(200, 175, 70));
}

#clear {
    background-image: linear-gradient(rgb(255, 200, 200), rgb(175, 40, 40));
}

#correction {
    background-image: linear-gradient(rgb(255, 200, 200), rgb(175, 100, 40));
}

button.top-row {
    width: 10%;
    font-size: 4vmin;
}

#result {
    background-image: linear-gradient(rgb(180, 255, 180), rgb(90, 255, 120));
    grid-row: -2 / -1;
    grid-column: -3 / -1;
}

/* Sub-containers */
#top-button-subcontainer {
    grid-column: 1 / -1;
    display: flex;
    padding: 0.25%;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid grey;
    flex-shrink: 2;
}

#top-button-subcontainer > button {
    margin: 0.5%;
}

#basic-operations {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column: 4 / 6;
    grid-row: 2 / -2;
}

/* Extra popouts */
.popout {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: grey;
    border: 2px solid blue;
    width: 50%;
    position: absolute;
    padding: 1% 0;
    z-index: 5;
}
.popout > button {
    margin: 0;
    padding: 1%;
}
.popout[visible=true] {
    visibility: visible;
}
.popout[visible=false] {
    visibility: hidden;
}