/* Document root */

body {
    margin: 0;
    font-family: sans-serif;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    padding: 1%;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

body > * {
    margin-bottom: 1%;
}

/* Display */

#display-container {
    text-align: right;
    height: 21vmin;
    border: 1px solid black;
    font-family: monospace;
    background-color: darkgrey;
    display: flex;
    flex-direction: column;
}

#main-display {
    height: 14vmin;
    max-height: 14vmin;
    font-size: 12vmin;
    flex-shrink: 1;
    overflow: hidden;
    padding: 0;
    margin: 0.5%;
}

#status-bar {
    padding: 1%;
    height: max-content;
    font-size: 3vmin;
    background-color: rgb(169, 169, 210);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#status-bar > .fixed {
    color: black;
}

#status-bar > .on {
    color: green;
}

#status-bar > .off {
    color: white;
}

#status-bar > .left {
    justify-self: left;
}

#status-bar > .right {
    justify-self: right;
}

/* Buttons */

#button-container {
    border: 1px solid black;
    background-color: darkgrey;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    flex-grow: 2;
}

.calc-button {
    font-size: 3rem;
    flex-shrink: 2;
    flex-grow: 1;
    border: 1px solid grey;
    background-image: linear-gradient(white, #44a);
}

.calc-button:not(#top-row > *) {
    margin: 2%;
}

.calc-button.digit {
    background-image: linear-gradient(white, #77f);
}

#top-row > .more  {
    background-image: linear-gradient(white, #640);
}

#top-row > .memory {
    background-image: linear-gradient(white, #cb0);
}

#clear-all {
    background-image: linear-gradient(white, #f00);
}

#correction {
    background-image: linear-gradient(white, #f70, #f00);
}

#top-row > button {
    width: 10%;
    font-size: 4vmin;
}

#result {
    background-image: linear-gradient(rgb(100, 255, 200), rgb(90, 255, 120));
    grid-row: -2 / -1;
    grid-column: -3 / -1;
}

/* Sub-containers */
#top-row {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-shrink: 2;
}

#top-row > button {
    margin: 0.5%;
}

#basic-operations {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column: 4 / 6;
    grid-row: 2 / -2;
}

/* Effect on click */
.calc-button:active {
    border-width: 5px;
    border-style: solid;
}
.calc-button.basic-operation:active { border-color: #007; }
.calc-button.digit:active { border-color: #466; }
.calc-button.more:active { border-color: #420; }
.calc-button.memory:active { border-color: #660; }
.calc-button.clear:active { border-color: #600; }